:root {
  --player-one-bg-color: red;
  --player-two-bg-color: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Comic Sans MS";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #1ecbe1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: inline-block;
  margin: 40px;
}

.row {
  display: flex;
}

.square {
  background-color: #242424;
  border-right: 1px solid #282c34;
  border-top: 1px solid #282c34;
  border-bottom: 1px solid #e1341e;
  border-left: 1px solid #e1341e;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "Comic Sans MS";

  transform: rotate(0deg) scale(1, 1);
}

.square-left {
  border-left: 1px solid #282c34;
}

.square-bottom {
  border-bottom: 1px solid #282c34;
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1.1, 1.1);
  }
  50% {
    transform: rotate(5deg) scale(1.1, 1.1);
  }
  100% {
    transform: rotate(-5deg) scale(1.1, 1.1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .square:hover {
    animation-name: shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
  }
}

.player-one {
  color: var(--player-one-bg-color);
}

.player-one:hover {
  background-color: var(--player-one-bg-color);
  color: var(--player-one-bg-color);
}

.player-two {
  color: var(--player-two-bg-color);
}

.player-two:hover {
  background-color: var(--player-two-bg-color);
  color: var(--player-two-bg-color);
}

.square:hover {
  border: 1px solid white;
  position: relative;
  z-index: 1;
  transform: scale(1.025, 1.025);
}

.square:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.game-info {
  text-transform: uppercase;
  font-size: 32px;
  color: #282c34;
}

button {
  text-transform: uppercase;
  font-family: "Comic Sans MS";
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #282c34;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 46%);
}

button:active {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-button {
  margin: 5px;
}

.menu .game-button {
  min-width: 240px;
}
